@use "../variables";

.tag {
  color: variables.$color-secondary-dark;
  background-color: variables.$color-accent-primary;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    transform: scale(110%);
  }
}

.active {
  background-color: variables.$color-accent-secondary;
}