@use "../_variables.scss";

.footer {
  background-color: variables.$color-accent-secondary;
  color: variables.$color-main-dark;
  padding: 25px;
  margin: 0;
  box-shadow: 0 0 15px variables.$color-accent-secondary;
  text-align: center;

  a {
    color: variables.$color-main-dark;
    text-decoration: none;

    span {
      position: relative;
    }

    span::after {
      content: "";
      background: variables.$color-main-dark;
      height: 1.4px;
      width: 100%;
      left: 0;
      bottom: -0.2rem;
      position: absolute;
      scale: 0 1;
      transition: scale 350ms;
    }

    span:hover::after {
      scale: 1 1;
    }
  }

  &-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
}
