@use "../_variables.scss";

	.footer {
		background-color: variables.$color-accent-secondary;
		color: variables.$color-main-dark;
		padding: 25px;
		margin: 0;
		box-shadow: 0 0 15px variables.$color-accent-secondary;
		text-align: center;
		align-self: stretch;
	}