@use "../_variables.scss";

	.header {
		margin: 2rem;
		margin-bottom: 4rem;
		padding: 2rem;
		border-radius: 25px;
		box-shadow: 0px 0px 15px variables.$color-accent-primary;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: linear-gradient(153deg, rgba(206,211,215,0.9261905445772058) 0%, rgba(228,186,190,0.9878151944371498) 100%, transparent), variables.$color-accent-secondary;
		color: variables.$color-main-dark;
	}

	.nav {
		display: flex;
		justify-content: space-around;
		gap: 2rem;

		a {
			text: {
				decoration: none;
				transform: uppercase;
			}
			color: variables.$color-main-dark;
			padding: 2px 5px;

			 &:hover {
				color: variables.$color-accent-primary-darker;
			 }
		}
	}

	.header-title {
		margin: 0.5em 0;
	}