@use "../variables.scss";

.post- {
  &item {
    font-size: 1.1rem;
    padding: 1.5rem;
    margin: 2rem;
    width: 70%;
    background-color: variables.$color-secondary-dark;
    border: 3px solid variables.$color-accent-secondary;
    border-radius: 25px;
    box-shadow: 0 0 10px 3px variables.$color-accent-secondary;
    max-width: 70rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    p {
      margin-block: 0.5rem;
    }
  }

  &title {
    font: {
      family: "Sora Variable", sans-serif;
      weight: 500;
      size: 2rem;
    }
    margin: 0;
    padding-block: 0;
    color: variables.$color-accent-primary;
  }

  &info {
    flex: 3 1 0;
    margin-left: 1rem;

    time {
      font-style: italic;
    }
  }

  &img {
    flex: 1 1 0;
    
    a {
      margin: 0;
    }
    
    img {
      min-width: 225px;
      display: block;
      border-radius: 5px;
      aspect-ratio: 4 / 3;
      object-fit: cover;
    }
  }

  &tags {
    margin-bottom: 0.4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3rem;

    span {
      padding-top: 0;
    }
  }
}
