@use "./variables";

@mixin base-layout() {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin main-text() {
  margin: auto 5rem;
  font-size: 1.1rem;
  text-align: justify;
  max-width: 75rem;
}

@mixin element-hover($element, $line-thickness) {
  #{$element} {
    position: relative;
  }

  #{$element}::after {
    content: "";
    background: variables.$color-main-dark;
    height: $line-thickness;
    width: 100%;
    left: 0;
    bottom: -0.1rem;
    position: absolute;
    scale: 0 1;
    transition: scale 350ms;
  }

  #{$element}:hover::after {
    scale: 1 1;
  }
}

@mixin nav-items($direction, $justify, $font-size) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  gap: 2rem;

  a {
    text: {
      decoration: none;
      transform: uppercase;
    }
    font-size: $font-size;
    color: variables.$color-main-dark;
    padding: 5px 10px;
  }

  @include element-hover(a, 0.15rem);
}