/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@use "_variables.scss";

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-size: 16px;
	font-family: 'Sarabun', sans-serif;
	height: 100%;
	display: grid;
	grid-template-rows: 2fr 9fr minmax(max-content, auto);
	align-items: center;
	margin: 0;
	background-color: variables.$color-main-dark;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: variables.$color-main-light;
}

// TODO: migrate to layout component later

main a {
	color: variables.$color-accent-primary;
	text-decoration: none;
}

main a:hover {
	color: variables.$color-accent-hover;
}

content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}

blockquote {
	border: 1px solid variables.$color-accent-primary;
	color: variables.$color-accent-secondary;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

mark {
	background-color: variables.$color-accent-primary;
	color: variables.$color-secondary-dark;
}
