---
import classes from "../styles/components/Footer.module.scss";
const today = new Date();
---

<footer class={classes.footer}>
	&copy; {today.getFullYear()} <a href="https://github.com/elyosis/astro-blog" tabindex={0}>elyosis</a>. All rights reserved.
</footer>
