@use "../_mixins";
@use "../variables";

main a {
	color: variables.$color-accent-primary;
	text-decoration: none;
}

main a:hover {
	color: variables.$color-accent-hover;
}

.main-home {
  @include mixins.base-layout;

  @media (max-width: variables.$bp-tablet) {
    padding: 2rem;
    gap: 1.5rem;
  }
}

.main-archive {
  @include mixins.base-layout;
  height: 100%;
  justify-content: start;

  @media (max-width: variables.$bp-tablet) {
    padding: 2rem 1rem;
  }
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

blockquote {
	border: 1px solid variables.$color-accent-primary;
	color: variables.$color-accent-secondary;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

mark {
	background-color: variables.$color-accent-primary;
	color: variables.$color-secondary-dark;
}