---
import { SITE_TITLE, SITE_DESCRIPTION } from "./../consts";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import classes from "../styles/layouts/BaseLayout.module.scss";

const pathname: string = Astro.url.pathname;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main
      class={pathname === "/archive"
        ? classes["main-archive"]
        : classes["main-home"]}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
